[Unit]
Description=Locust load testing service

[Service]
ExecStart=/usr/local/bin/locust --locustfile=/opt/locust/Locustfiles/locustfile.py --worker --master-host=49.13.0.125 --host=https://www.mir.de
WorkingDirectory=/opt/locust
User=nobody
Restart=always

[Install]
WantedBy=multi-user.target

